# Homework 2: Arrays and Tables

Please complete this notebook by filling in the cells provided.

**Helpful Resource:**
- [Python Reference](http://data8.org/sp22/python-reference.html): Cheat sheet of helpful array & table methods.

**Recommended Readings:**
- [Arrays](https://inferentialthinking.com/chapters/05/1/Arrays.html)
- [What is Data Science?](http://www.inferentialthinking.com/chapters/01/what-is-data-science.html)
- [Causality and Experiments](http://www.inferentialthinking.com/chapters/02/causality-and-experiments.html) 
- [Programming in Python](http://www.inferentialthinking.com/chapters/03/programming-in-python.html)

**Reminders**

1. For all problems that you must write explanations and sentences for, you **must** provide your answer in the designated space. 

2. Directly sharing answers is not okay, but discussing problems with your instructor or with other students is encouraged. 

3. You should start early so that you have time to get help if you're stuck.

## 1. Creating Arrays

In [ ]:
# Run this cell to set up the notebook, but please don't change it.

import math
import numpy as np
from datascience import *
import warnings
warnings.simplefilter('ignore', FutureWarning)

**Question 1.** Make an array called `weird_numbers` containing the following numbers (in the given order) **(4 Points)**:

1. -2
2. the floor of 12.6
3. 3
4. 5 to the power of the ceil of 5.3

*Hint:* `floor` and `ceil` are functions in the `math` module. Use them explicitly when making the required array.

*Note:* Python lists are different/behave differently than NumPy arrays. In this course we use NumPy arrays, so please make an **array**, not a Python *list*.

In [ ]:
# Question 1
import math
weird_numbers = ...
weird_numbers

**Question 2.** Make an array called `book_title_words` containing the following three strings: "Eats", "Shoots", and "and Leaves". **(4 Points)**

In [ ]:
# Question 2
book_title_words = ...
book_title_words

Strings have a method called `join`.  `join` takes one argument, an array of strings.  It returns a single string.  Specifically, the value of `a_string.join(an_array)` is a single string that's the [concatenation](https://en.wikipedia.org/wiki/Concatenation) ("putting together") of all the strings in `an_array`, **except** `a_string` is inserted in between each pair of adjacent strings in `an_array`.

**Question 3.** Use the array `book_title_words` and the method `join` to make two strings **(4 Points)**:

1. "Eats, Shoots, and Leaves" (call this one `with_commas`)
2. "Eats Shoots and Leaves" (call this one `without_commas`)

*Hint:* If you're not sure what `join` does, first try just calling, for example, `"stuff".join(book_title_words)` .

In [ ]:
# Question 3
string1 = ', '
with_commas = ...  # call the join method on string1
string2 = ' '
without_commas = ...   # call the join method on string2
# These lines are provided just to print out your answers.
print('with_commas:', with_commas)
print('without_commas:', without_commas)

## 2. Indexing Into Arrays

These exercises give you practice accessing individual elements of arrays.  In Python (and in many programming languages), each element is accessed by its *index*; for example, the first element is the element at index 0. Indices must be **integers**.

***Note:* If you have previous coding experience, you may be familiar with bracket notation. DO NOT use bracket notation when indexing into an array (i.e. `arr[0]`), as this can yield different data type outputs than what we will be expecting.**

Be sure to refer to the [Python Reference](http://data8.org/sp22/python-reference.html) on the website if you feel stuck!

**Question 1.** The cell below creates an array of some numbers; for example, the *first* element is -1. Use a **method** and an **index** to assign the name `third_element` to the third element of `some_numbers`. **(4 Points)**

In [ ]:
# Question 2.1
some_numbers = make_array(-1, -3, -6, -10, -15)

third_element = ...                   # call a method on some_numbers and 
                                      # provide an index for the argument
third_element

**Question 2.** The next cell creates a table that displays some information about the elements of `some_numbers` and their order.  Run the cell to see the partially-completed table, then fill in the missing information (the cells that say "Ellipsis") by assigning `blank_a`, `blank_b`, `blank_c`, and `blank_d` to the correct elements in the table. **(4 Points)**

*Hint:* Replace the `...` with strings or numbers. As a reminder, indices should be **integers**.

In [ ]:
# Question 2.2
blank_a = ...
blank_b = ...
blank_c = ...
blank_d = ...
elements_of_some_numbers = Table().with_columns(
    "English name for position", make_array("first", "second", blank_a, blank_b, "fifth"),
    "Index",                     make_array(blank_c, 1, 2, blank_d, 4),
    "Element",                   some_numbers)
elements_of_some_numbers

**Question 3.** You'll sometimes want to find the **last** element of an array.  Suppose an array has 142 elements.  What is the *positive* index of its last element? **(4 Points)**

In [ ]:
# Question 2.3
index_of_last_element = ...

More often, you don't know the number of elements in an array, its *length*.  (For example, it might be a large dataset you found on the Internet.)  The function `len` takes a single argument, such as an array, and returns an integer that represents the `len`gth of that array.

**Question 4.** The cell below loads an array called `president_birth_years`.  Calling `tbl.column(...)` on a table returns an array of the column specified, in this case the `Birth Year` column of the `president_births` table. The last element in that array is the most recent among the birth years of all the deceased Presidents. Assign that year to `most_recent_birth_year`. **(4 Points)**

In [ ]:
# Question 2.4
president_birth_years = Table.read_table("president_births.csv").column('Birth Year')

# use indexing, as well as the len() function, to replace the ellipsis
most_recent_birth_year = president_birth_years.item(...)
most_recent_birth_year

**Question 5.** Finally, use indexing and the len() function to assign `min_of_birth_years` to the minimum of the first, sixteenth, and last birth years listed in `president_birth_years`. **(4 Points)**

In [ ]:
# Question 2.5
yrs = president_birth_years
first = yrs.item(...)
sixteenth = yrs.item(...)
last = yrs.item(...)
min_of_birth_years = min(first, sixteenth, last)
min_of_birth_years

## 3. Basic Array Arithmetic

**Question 1.** Multiply the numbers 42, -4224, 424224242, and 250 by 157. Assign each variable below such that `first_product` is assigned to the result of $42 * 157$, `second_product` is assigned to the result of $-4224 * 157$, and so on. **(4 Points)**

*Note*: For this question, **don't** use arrays.

In [ ]:
# Question 3.1
first_product = ....
second_product = ...
third_product = ...
fourth_product = ...
print("First Product:", first_product)
print("Second Product:", second_product)
print("Third Product:", third_product)
print("Fourth Product:", fourth_product)

**Question 2.** Now, do the same calculation, but using an array called `numbers` and only a single multiplication (`*`) operator.  Store the 4 results in an array named `products`. **(4 Points)**

In [ ]:
# Question 3.2
numbers = make_array(...)
products = ...
products

**Question 3.** Oops, we made a typo!  Instead of 157, we wanted to multiply each number by 1577.  Compute the correct products in the cell below using array arithmetic.  Notice that your job is really easy if you previously defined an array containing the 4 numbers. **(4 Points)**

In [ ]:
# Question 3.3
correct_products = ...
correct_products

**Question 4.** We've loaded an array of temperatures in the next cell.  Each number is the highest temperature observed on a day at a climate observation station, mostly from the US.  Since they're from the US government agency [NOAA](https://www.noaa.gov/), all the temperatures are in Fahrenheit.

Convert all the temperatures to Celsius by first subtracting 32 from them, then multiplying the results by $\frac{5}{9}$, i.e. $C = (F - 32) * \frac{5}{9}$. After converting the temperatures to Celsius, make sure to **ROUND** the final result  to the nearest integer using the `np.round` function. **(4 Points)**

In [ ]:
# Question 3.4
max_temperatures = Table.read_table("temperatures.csv").column("Daily Max Temperature")

celsius_max_temperatures = ...
celsius_max_temperatures

**Question 5.** The cell below loads all the *lowest* temperatures from each day (in Fahrenheit).  Compute the daily temperature range for each day. That is, compute the difference between each daily maximum temperature and the corresponding daily minimum temperature.  **Pay attention to the units and give your answer in Celsius!** Make sure **NOT** to round your answer for this question! **(4 Points)**

*Note:* Remember that in Question 4, `celsius_max_temperatures` was rounded, so you might not want to use that variable in this question.

In [ ]:
# Question 3.5
min_temps = Table.read_table("temperatures.csv").column("Daily Min Temperature") #FAHR
celsius_min_temps = ...
max_temps = Table.read_table("temperatures.csv").column("Daily Max Temperature") #FAHR
celsius_max_temps = ...
celsius_temp_ranges = ...
celsius_temp_ranges

## 4. Old Faithful

Old Faithful is a geyser in Yellowstone that erupts every 44 to 125 minutes (according to [Wikipedia](https://en.wikipedia.org/wiki/Old_Faithful)). People are [often told that the geyser erupts every hour](http://yellowstone.net/geysers/old-faithful/), but in fact the waiting time between eruptions is more variable. Let's take a look.

**Question 1.** The first line below assigns `waiting_times` to an array of 272 consecutive waiting times between eruptions, taken from a classic 1938 dataset. Assign the names `shortest`, `longest`, and `average` so that the `print` statement is correct. **(4 Points)**

In [ ]:
# Question 4.1
waiting_times = Table.read_table('old_faithful.csv').column('waiting')

# use a function call and the waiting_times array for each of the next three lines
shortest = ...
longest = ...
average = ...

print("Old Faithful erupts every", shortest, "to", longest, "minutes and every", average, "minutes on average.")

**Question 2.** Assign `biggest_change` to the biggest *change* in waiting time between two consecutive eruptions. For example, the third eruption occurred after 74 minutes and the fourth after 62 minutes, so the change in waiting time was 12 minutes. **(4 Points)**

*Hint*: We can calculate absolute differences between adjacent waiting times and return the largest of those.

*Note*: `np.diff()` calculates the difference between subsequent values in an array. For example, calling `np.diff()` on the array `make_array(1, 8, 3, 5)` evaluates to `array([8 - 1, 3 - 8, 5 - 3])`, or `array([7, -5, 2])`.

In [ ]:
# Question 4.2
# np.diff() calculates the difference between adjacent values  
# in a NumPy array.
differences = np.diff(waiting_times)

# use a function call on differences to find the absolute values of the differences
abs_diff = ...
biggest_change = ...
biggest_change

**Question 3.** The `faithful_with_eruption_nums` table contains two columns: `eruption_number`, which represents the number of that eruption, and `waiting`, which represents the time spent waiting after that eruption. For example, take the first two rows of the table:

| eruption number | waiting |
|-----------------|---------|
| 1               | 79      |
| 2               | 54      |

We can read this as follows: after the first eruption, we waited 79 minutes for the second eruption. Then, after the second eruption, we waited 54 minutes for the third eruption.

Suppose Oscar and Wendy started watching Old Faithful at the start of the first eruption. Assume that they watch until the end of the tenth eruption. For some of that time they will be watching eruptions, and for the rest of the time they will be waiting for Old Faithful to erupt. Write the code to Calculate how many minutes they spend waiting for eruptions. **(4 Points)**

*Hint #1:* Use the `take` or `where` method on the table `faithful_with_eruption_nums` to focus on the relevant rows.

*Hint #2:* `first_nine_waiting_times` must be an **array**, not a Table. Which table method will return a column of a table as an array?

In [ ]:
# Question 4.3

# The following two lines load in our faithful_with_eruption_nums table
faithful = Table.read_table('old_faithful.csv').drop("eruptions")
faithful_with_eruption_nums = faithful.with_column("eruption number", np.arange(faithful.num_rows) + 1).select(1, 0)

first_nine_waiting_times = ...
total_waiting_time_until_tenth = ...
total_waiting_time_until_tenth

**Question 4.** Letâ€™s imagine your guess for the next waiting time was always just the length of the previous waiting time. If you always guessed the previous waiting time, how big would your absolute error be in guessing the waiting times, on average? **(4 Points)**

For example, since the first four waiting times are 79, 54, 74, and 62, the average difference between your guess and the actual time for just the second, third, and fourth eruptions would be $\frac{|79-54|+ |54-74|+ |74-62|}{3} = 19$.

In [ ]:
# Question 4.4
differences = np.diff(waiting_times)

# use differences, and NumPy functions, to calculate the average absolute error
abs_diff = ...
average_error = ...
average_error

## 5. Tables

**Question 1.** Suppose you have 4 apples, 3 oranges, and 3 pineapples.  (Perhaps you're using Python to solve a high school Algebra problem.)  Create a table that contains this information.  It should have two columns: `fruit name` and `count`.  Assign the new table to the variable `fruits`. **(4 Points)**

*Note:* Use lower-case and singular words for the name of each fruit, like `"apple"`.

In [ ]:
# Question 5.1

# The expected solution uses 1 statement split over 3 lines.
fruits = ...
         ...
         ...
)
    
fruits

**Question 2.** The file `inventory.csv` contains information about the inventory at a fruit stand.  Each row represents the contents of one box of fruit. Load it as a table named `inventory` using the `Table.read_table()` function. `Table.read_table(...)` takes one argument (data file name in string format) and returns a table. **(4 Points)**

In [ ]:
# Question 5.2
inventory = ...
inventory

**Question 3.** Set `all_different` to `True` if no two boxes have the same type of fruit, `False` otherwise. **(4 Points)**

*Hint:* You don't have to write code to calculate the value for `all_different`. Just look at the `inventory` table and assign `all_different` to either `True` or `False` according to what you can see.

In [ ]:
# Question 5.3
all_different = ...
all_different

**Question 4.** The file `sales.csv` contains the number of fruit sold from each box last Saturday.  It has an extra column called `price per fruit ($)` that's the price *per item of fruit* for fruit in that box.  The rows are in the same order as the `inventory` table.  Load these data into a table called `sales`. **(4 Points)**

In [ ]:
# Question 5.4
sales = ...
sales

**Question 5.** Write code to determine how many items of fruit the store sold that day. **(4 Points)**

In [ ]:
# Question 5.5
# use functions to solve this
total_fruits_sold = ...
total_fruits_sold

**Question 6.** Write code to determine the store's total revenue (the total price of all fruits sold) on that day. **(4 Points)**

*Hint:* If you're stuck, think first about how you would compute the total revenue from just the grape sales.

In [ ]:
# Question 5.6
total_revenue = ...
total_revenue

**Question 7.** Make a new table called `remaining_inventory`.  It should have the same rows and columns as `inventory`, except that the amount of fruit sold from each box should be subtracted from that box's **original** count, so that the `count` column is **updated to be** the amount of fruit remaining after Saturday. **(8 Points)**

In [ ]:
# Question 5.7

# First, Calculate an array of the updated counts
new_count = ...

#Second, create the new table
remaining_inventory = ...

remaining_inventory

## 6. Submission

Congratulations, you've finished HW02!

1. Make sure you have run all the cells in your notebook in order, so that all images/graphs appear in the output. 
2. Save and Checkpoint your file (Ctrl-S).
3. Download a copy as HTML.
4. Upload your HTML file to the assignment activity on Moodle.